@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body{
    font-family: "Noto Sans KR","Apple SD Gothic Neo","Malgun Gothic","맑은 고딕","돋움","dotum",sans-serif;
    min-width: 1200px; 
    background: #fff; 
    letter-spacing: -.25px;
}
.wrap{
    min-width: 1300px; 
    font-size: 12px; 
    line-height: 1.5; 
    font-family: "Noto Sans KR","Apple SD Gothic Neo","Malgun Gothic","맑은 고딕","돋움","dotum",sans-serif;
    color: #333333;
}
.inner_header{
    position: relative;
    width: 1080px; 
    margin: 0 auto;
    padding : 0 20px;
    font-size: 0;
}
.inner_header::after {
    display: block;
    clear: both;
    content: "";
}
.doc-header{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    min-width: 1200px; 
    border-bottom: 1px solid #e6e6e6;
    border-color: hsla(0,0%,100%,.1);
    /*background: #182153*/
}
.scroll_header {
    background-color: #fff;
    border-color: rgb(0,0,0,0.1);
}
.second_slide {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    min-width: 1200px; 
    border-color: rgba(0,0,0,.1);
}
.doc-title {
    display: inline-block;
    vertical-align: top;
}
.link_title {
    display: block;
    width: 148px;
    height: 36px;
    margin-top: 16px;
    font-size: 0;
    background: url(../img/header/img_logo_w.png) no-repeat 0 0;
    background-size: 148px 36px;
}
.scroll_header .link_title {
    background: url(../img/header/img_logo_b.png) no-repeat 0 0;
    background-size: 148px 36px;
}
.second_slide .link_title {
    background: url(../img/header/img_logo_b.png) no-repeat 0 0;
    background-size: 148px 36px;
}
.doc-gnb {
    display: inline-block;
    vertical-align: top;
    margin-left: 41px;
}
.list_gnb li {
    display: inline-block;
    vertical-align: middle;
}
.doc-gnb .link_gnb {
    display: block;
    height: 69px;
    padding: 0 13px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    line-height: 69px;
}
.scroll_header .doc-gnb .link_gnb {
    color: #1e1e1e;
}
.doc-gnb .link_gnb .txt_gnb {
    display: block;
    height: 70px;
    padding: 0 5px;
    margin-bottom: -2px;
    box-sizing: border-box;
}
.second_slide .doc-gnb .link_gnb .txt_gnb {
    color:#1e1e1e;
}
.doc-gnb .link_gnb .txt_gnb:hover {
    border-bottom: 2px solid #0072e5;
}
.list_etc {
    float: right;
    font-size: 0;
    margin-top: 18px;
}
.list_etc li {
    display: inline-block;
}
.inner_header .list_etc .link_admin {
    color: hsla(0,0%,100%,.7);
    font-size: 13px;
    font-weight: 600;
}
.scroll_header .inner_header .list_etc .link_admin {
    color: #1e1e1e;
}
.second_slide .inner_header .list_etc .link_admin {
    color:black;
}
.inner_header .list_etc .link_download {
    display: block;
    width: 96px;
    height: 34px;
    border-radius: 4px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    background: #0082ff;
    line-height: 34px;
    text-align: center;
}
.inner_header .list_etc li+li {
    margin-left: 22px;
}
.doc-main {

}
.area_slide {
    width: 100%;
    height: 850px;
    background: #182153;
}
.area_slide .wrap_slide {
    height: 100%;
    color: black;
}
.area_slide .wrap_slide div {
    height: 100%;
    box-sizing: border-box;
}
 /* Slide Image Start */
.area_slide .wrap_slide .slide_bg1 {
}
.area_slide .wrap_slide .slide_info1 {
    width: 1080px;
    margin: 0 auto;
    background: url(../img/slider/bg_main1.png) 100% 50% no-repeat;
    background-size: 657px 607px;
    padding-top: 298px;
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0;
}
.area_slide .wrap_slide .slide_info1 a {
    display: block;
    height: 54px;
    margin-top: 50px;
    line-height: 54px;
}
.area_slide .wrap_slide .slide_bg2 {
    background: #f3f4f6;
}
.area_slide .wrap_slide .slide_info2 {
    width: 1080px;
    margin: 0 auto;
    background: url(../img/slider/banner2_0915.png) right 225.5px no-repeat;
    background-size: 632px 419px;
    padding-top: 298px;
    color: #1e1e1e;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0;
}
.area_slide .wrap_slide .slide_info2 a {
    display: block;
    height: 54px;
    margin-top: 50px;
    line-height: 54px;
}
.area_slide .wrap_slide .slide_bg3 {
    
}
.area_slide .wrap_slide .slide_info3 {
    width: 1080px;
    margin: 0 auto;
    background: url(../img/slider/banner3_0915.png) right 181.5px no-repeat;
    background-size: 543px 503px;
    padding-top: 298px;
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0;
}
.area_slide .wrap_slide .slide_info3 a {
    display: block;
    height: 54px;
    margin-top: 50px;
    line-height: 54px;
}
/* Slide Image End */
/* 공통 버튼 */
.btn_comm {
    display: block;
    width: 160px;
    height: 54px;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    background: #0082ff;
    text-align: center;
    box-sizing: border-box;
}
.area_home {
    padding-bottom: 200px;
}
.section_intro {
    padding: 180px 0 140px 0;
    background: #fafafa;
}
.section_intro .wrap_intro {
    width: 1080px;
    margin: 0 auto;
}
.section_intro .wrap_intro .list_intro {

}
.section_intro .wrap_intro .list_intro::after {
    display: block;
    clear: both;
    content: '';
}
.section_intro .wrap_intro p:first-child {
    color:#1e1e1e;
    font-size: 38px;
    font-weight: 700;
    letter-spacing: -1px;
    text-align: center;
}
.section_intro .wrap_intro .list_intro {
    margin-top: 66px;
}
.section_intro .wrap_intro .list_intro li {
    float: left;
}
.section_intro .wrap_intro .list_intro .intro_tit {
    display: block;
    font-size: 22px;
    color: #000;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
}
.section_intro .wrap_intro .list_intro .intro_sub {
    margin-top: 12px;
    font-size: 14px;
    font-weight: 350;
    line-height: 23px;
    text-align: center;
}
.section_intro .wrap_intro .list_intro .intro1 {
    width: 220px;
    box-sizing: border-box;
    margin-right: 66px;
}
.section_intro .wrap_intro .list_intro .intro1::before {
    display: block;
    content: '';
    width: 140px;
    height: 140px;
    background: url(../img/body/ico_kakaowork_20200925.png) 0 0 no-repeat;
    background-size: 520px 430px;
    background-position: -240px 0;
    margin: 0 auto 20px;
}
.section_intro .wrap_intro .list_intro .intro2 {
    width: 220px;
    box-sizing: border-box;
    margin-right: 66px;
}
.section_intro .wrap_intro .list_intro .intro2::before {
    display: block;
    content: '';
    width: 140px;
    height: 140px;
    background: url(../img/body/ico_kakaowork_20200925.png) 0 0 no-repeat;
    background-size: 520px 430px;
    background-position: -240px -140px;
    margin: 0 auto 20px;
}
.section_intro .wrap_intro .list_intro .intro3 {
    width: 220px;
    box-sizing: border-box;
    margin-right: 66px;
}
.section_intro .wrap_intro .list_intro .intro3::before {
    display: block;
    content: '';
    width: 140px;
    height: 140px;
    background: url(../img/body/ico_kakaowork_20200925.png) 0 0 no-repeat;
    background-size: 520px 430px;
    background-position: -240px -280px;
    margin: 0 auto 20px;
}
.section_intro .wrap_intro .list_intro .intro4 {
    width: 220px;
    box-sizing: border-box;
}
.section_intro .wrap_intro .list_intro .intro4::before {
    display: block;
    content: '';
    width: 140px;
    height: 140px;
    background: url(../img/body/ico_kakaowork_20200925.png) 0 0 no-repeat;
    background-size: 520px 430px;
    background-position: -380px 0;
    margin: 0 auto 20px;
}
.section_func {
    min-width: 894px;	
    height: 5406px;
    position: relative;
    width: 894px;
    margin: 0 auto;
}
.section_func .inner_func {
    position: relative;
}
.section_func .inner_func .wrap_info  {
    position: absolute;
    top: 0;
    bottom: auto;
    transition: transform .5s;
    z-index: 100;
}
.section_func .inner_func .wrap_info .group_work {
    min-width: 600px;
    height: 936px;
    padding-top: 160px;
    box-sizing: border-box;
}
.section_func .inner_func .wrap_info .group_search {
    height: 936px;
    padding-top: 130px;
    box-sizing: border-box;
}
.section_func .inner_info {
    height: 616px;
    box-sizing: border-box;
}
.section_func .group_work .inner_info {
    padding-top: 45px;
}
.section_func .group_work .inner_info::before {
    margin-bottom: 23px;
    display: block;
    width: 62px;
    height: 62px;
    content: "";
    background: url(../img/body/ico_kakaowork_20200925.png);
    background-size: 520px 430px;
    background-position: -100px 0;
}
.section_func .group_search .inner_info {
    padding-top: 130px;
}
.section_func .group_search .inner_info::before {
    margin-bottom: 23px;
    display: block;
    width: 62px;
    height: 62px;
    content: "";
    background: url(../img/body/ico_kakaowork_20200925.png);
    background-size: 520px 430px;
    background-position: -100px -70px;;
}
.section_func .group_connect {
    padding-top: 160px;
}
.section_func .group_connect .inner_info {
    padding-top: 60px;
}
.section_func .group_connect .inner_info::before {
    margin-bottom: 23px;
    display: block;
    width: 62px;
    height: 62px;
    content: "";
    background: url(../img/body/ico_kakaowork_20200925.png);
    background-size: 520px 430px;
    background-position: -100px -140px;;
}
.section_func .group_search .inner_info .info_tit, 
.section_func .group_work .inner_info .info_tit,
.section_func .group_connect .inner_info .info_tit {
    color: #1e1e1e;
    font-size: 38px;
    font-weight: 700;
    letter-spacing: -1px;
}
.section_func .group_search .inner_info .info_sub, 
.section_func .group_work .inner_info .info_sub,
.section_func .group_connect .inner_info .info_sub {
    width: 380px;
    margin-top: 28px;
    font-size: 16px;
    font-weight: 350
}
.group_work .inner_info .tabfunc,
.group_connect .inner_info .tabfunc  {
    position: relative;
}
.group_work .inner_info .tabfunc::before {
    position: absolute;
    top:0;
    left:0;
    width: 3px;
    height: 94px;
    border-radius: 1.5px;
    background: #e5e5e5;
    content: "";
}
.group_connect .inner_info .tabfunc::before {
    position: absolute;
    top:0;
    left:0;
    width: 3px;
    height: 63px;
    border-radius: 1.5px;
    background: #e5e5e5;
    content: "";
}
.group_work .inner_info .tabfunc .list_func,
.group_connect .inner_info .tabfunc .list_func {
    margin-top: 45px;
}
.group_work .inner_info .tabfunc .list_func li.on a, 
.group_connect .inner_info .tabfunc .list_func li.on a {
    color: #0082ff;
}
.group_work .inner_info .tabfunc .list_func li+li,
.group_connect .inner_info .tabfunc .list_func li+li {
    margin-top: 15px;
}
.group_work .inner_info .tabfunc .list_func .link_func,
.group_connect .inner_info .tabfunc .list_func .link_func {
    display: block;
    padding: 6px 0 0 22px;
    color: #999;
    font-size: 16px;
    font-weight: 700;
    line-height: 17px;
}
.wrap_phone {
    position: relative;
}

.wrap_phone::after {    
    display: block;
    content: "";
    clear: both;
}

.inner_phone {
    position: relative;
    width: 100%;    
    text-align: right;
}

.inner_phone::after {    
    display: block;
    content: "";
    clear: both;
}

.frame_phone {
    width: 296px;
    display: inline-block;
}
.frame_phone .item_img {
    display: inline-block;
    position: relative;
    margin-top: 160px;
    width: 100%;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.frame_phone .item_img+.item_img {
    margin-top: 250px;
}
.frame_phone .item_active {
    opacity: 1;
}
.frame_phone .item_img .img_phone {
    display: block;
    width: 282px;
    height: 602px;
    border: 7px solid #000;
    border-radius: 32px;
}
.frame_phone .item_img:nth-child(2)::before {
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 70;
    width: 397px;
    height: 270px;
    margin: -100px 0 0 -50px;
    background: url(../img/body/img_func2_popup.png) 0 0 no-repeat;
    background-size: 397px 270px;
    content: "";
}
.frame_phone .item_img::after {
    position: absolute;
    top:0;
    left: 0;
    width: 404px;
    height: 733px;
    background: url(../img/body/bg_shadow.png);
    background-size: 404px 733px;
    z-index: -5;
    content: "";
}
.group_work .mark_on {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 3px;
    height: 26px;
    border-radius: 1.5px;
    background: #0082ff;
    transform: translateY(0);
    transition: transform 0.5s;
}
.group_work .second {
    transform: translateY(36px);
}
.group_work .third {
    transform: translateY(72px);
}
.group_connect .mark_on {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 3px;
    height: 26px;
    border-radius: 1.5px;
    background: #0082ff;
    transform: translateY(0);
    transition: transform 0.5s;
}
.group_connect .second {
    transform: translateY(36px);
}
.group_connect .third {
    transform: translateY(72px);
}
.section_desc {
    position: relative;
    width: 100%;
    min-width: 1200px;
    overflow: hidden;
}
.section_desc .desc_emph {
    position: absolute;
    top: 421.5px;
    left: 0;
    z-index: 1;
    width: 100%;
    margin:0 auto;
    color: #1e1e1e;
    font-size: 58px;
}
.section_desc .desc_emph em  {
    display: block;
    width: 1200px;
    margin: 0 auto;
    font-weight: 700;
    text-align: center;
    opacity: 0;
}
.section_desc .desc_img {
    position: relative;
    width: 1600px;
    height: 665px;
    opacity: 0;
} 
.section_desc img {
    position: absolute;
}
.section_desc .desc_img div:first-child img {
    top: 0;
    left: 23%;
}
.section_desc .desc_img div:nth-child(2) img {
    top: 20%;
    left: 82%;
}
.section_desc .desc_img div:nth-child(3) img {
    top: 48%;
    left: 0;
}
.section_desc .desc_img div:nth-child(4) img {
    top: 90%;
    left: 76%;
}
.section_desc .desc_img div:nth-child(5) img {
    top: 17%;
    left: 59%;
}
.section_desc .desc_img div:nth-child(6) img {
    top: 55%;
    left: 94%;
}
.section_desc .desc_img div:nth-child(7) img {
    top: 65%;
    left: 18%;
}
.section_desc .desc_img div:nth-child(8) img {
    top: 68%;
    left: 66%;
}
.section_desc .desc_img div:nth-child(9) img {
    top: 27%;
    left: 4%;
}
.section_desc .desc_img div:nth-child(10) img {
    top: 95%;
    left: 8%;
}
.section_desc .desc_img div:nth-child(11) img {
    top: 10%;
    left: 98%;
}
.section_desc .desc_img div:nth-child(12) img {
    top: 90%;
    left: 38%;
}
.section_service {
    padding: 16px 0 307px;
    position: relative;
    background-image: linear-gradient(180deg,#fff,#f9f9f9);
}
.section_service .wrap_cowork {
    position: relative;
    max-width: 1221px;
    padding: 0 20px;
    margin: 0 auto;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.5s;
}
.section_service .wrap_cowork.fadeIn {
    transform: translateY(0);
    opacity: 1;
}
.section_service .wrap_manager {
    position: relative;
    margin: 0 auto;
    margin-top: 136px;
    max-width: 1221px;
    padding: 0 20px;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.5s;
}
.section_service .wrap_manager.fadeIn {
    transform: translateY(0);
    opacity: 1;
}
.section_service .wrap_cowork::before {
    display: block;
    width: 62px;
    height: 62px;
    margin: 0 auto 20px;
    background: url(../img/body/ico_kakaowork_20200925.png) 0 0 no-repeat;
    background-size: 520px 430px;
    background-position: -100px -210px;
    content: "";
}
.section_service .wrap_manager::before {
    display: block;
    width: 62px;
    height: 62px;
    margin: 0 auto 20px;
    background: url(../img/body/ico_kakaowork_20200925.png) 0 0 no-repeat;
    background-size: 520px 430px;
    background-position: -100px -280px;
    content: "";
}
.item_tit {
    display: block;
    color: #1e1e1e;
    text-align: center;
    line-height: 58px;
    font-size: 38px;
    font-weight: 700;
}
.item_sub1 {
    color: rgb(51, 51, 51);
    margin-top: 25px;
    text-align: center;
    line-height: 27px;
    font-size: 16px;
    font-weight: 350;
}
.section_service .wrap_cowork .cowork_sub2,  
.section_service .wrap_manager .cowork_sub2
{
    position: absolute;
    bottom: 70px;
    left:  90px;
}
.section_service .wrap_cowork .btn_cowork,
.section_service .wrap_manager .btn_manager {
    width: 286px;
    margin: 0 auto;
    margin-top: 40px;
}
.section_service .wrap_cowork .btn_cowork li,
.section_service .wrap_manager .btn_manager li {
    float: left;
    width: 50%;
    cursor: pointer;
}
.section_service .wrap_cowork .btn_cowork::after {
    display: block;
    clear: both;
    content: "";
}
.section_service .wrap_manager .btn_manager::after {
    display: block;
    clear: both;
    content: "";
}
.section_service .wrap_cowork .btn_cowork  a,
.section_service .wrap_manager .btn_manager a  {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    display: block;
    width: 100%;
    height: 48px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    line-height: 48px;
    background-color: #efefef;
}
.section_service .wrap_cowork .btn_cowork a.on,
.section_service .wrap_manager .btn_manager a.on {
    color: #fff;
    background-color: #0082ff;
}
.section_service .cont_service {
    position: relative;
    height: 855px;
    margin-top: 55px;
}
.section_service .inner_service {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}
.section_service .cont_service .on {
    opacity: 1;
}
.section_service .inner_service .img_service {
    width: 100%;
}
.section_service .inner_service .img_service_mo {
    position: absolute;
    bottom: -44px;
    right: 93px;
    width: 414px;
}
.section_smart {
    width: 1080px;
    padding: 0 20px;
    margin: 0 auto;
}
.section_smart .wrap_product, 
.section_smart .wrap_assist {
    width: 432px;
    height: 462px;
    background: url(../img/body/bg_product.png) 100% 0 no-repeat;
    background-size: 462px 462px;
    padding-right: 648px;
    margin-top: 300px;
    transform: translateY(50px);
    opacity: 0;
    transition: transform .5s,opacity .5s linear;
}
.section_smart .wrap_product.fadeIn, 
.section_smart .wrap_assist.fadeIn {
    transform: translateY(0px);
    opacity: 1;
}
.section_smart .wrap_assist {
    position: relative;
    height: 501px;
    background: url(../img/body/bg_assist.png) 100% 0 no-repeat;
    background-size: 464px 464px;

}
.section_smart .wrap_product .item_tit::before {
    display: block;
    width: 62px;
    height: 62px;
    content: "";
    margin-bottom: 23px;
    background: url(../img/body/ico_kakaowork_20200925.png);
    background-size: 520px 430px;
    background-position: -100px -350px;
}
.section_smart .wrap_assist .item_tit::before {
    display: block;
    width: 62px;
    height: 62px;
    content: "";
    margin-bottom: 23px;
    background: url(../img/body/ico_kakaowork_20200925.png);
    background-size: 520px 430px;
    background-position: -170px 0;
}
.wrap_product .item_tit,
.wrap_assist .item_tit {
    padding-top: 64px;
    text-align: left;
}
.wrap_product .item_sub1,
.wrap_assist .item_sub1 {
    font-size: 16px;
    text-align: left;
}
.wrap_assist .item_sub2 {
    position: absolute;
    bottom: 2px;
    right: 190px;
    color: #666;
    font-size: 14px;
    font-weight: 350;
}
.section_secure {
    width: 1080px;
    margin: 263px auto 0;
    transform: translateY(50px);
    opacity: 0;
    transition: all .5s;
}
.section_secure.fadeIn {
    transform: translateY(0);
    opacity: 1;
}
.section_secure .secure_tit {
    display: block;
    height: 440px;
    padding-top: 23px;
    color: #fff;
    font-size: 38px;
    font-weight: 700;
    background: url(../img/body/bg_secure.png) 0 0 no-repeat;
    background-size: 1080px 440px;
    text-align: center;
    letter-spacing: -1px;
    box-sizing: border-box;
    padding-top: 234px;
}
.section_secure .secure_sub1 {
    margin-top: 50px;
    color: #1e1e1e;
    font-size: 22px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: -.5px;
}
.section_secure .list_E3 {
    margin-top: 100px;
}
.section_secure .list_E3 li {
    width: 465px;
    float: left;
}
.section_secure .list_E3::after {
    display: block;
    clear: both;
    content: "";
}
.section_secure .list_E3 li:nth-child(1)::before {
    display: block;
    width: 62px;
    height: 62px;
    content: "";
    margin-bottom: 26px;
    background: url(../img/body/ico_kakaowork_20200925.png) 0 0 no-repeat;
    background-position: -170px -70px;
    background-size: 520px 430px;
}
.section_secure .list_E3 li:nth-child(2)::before {
    display: block;
    width: 62px;
    height: 62px;
    content: "";
    margin-bottom: 26px;
    background: url(../img/body/ico_kakaowork_20200925.png) 0 0 no-repeat;
    background-position: -170px -140px;
    background-size: 520px 430px;
}
.section_secure .list_E3 li:nth-child(2) {
    padding-left: 150px;
}
.section_secure .list_E3 .e3_tit {
    display: inline-block;
    font-size: 22px;
    color: #1e1e1e;
    font-weight: 600;
}
.section_secure .list_E3 .e3_sub {
    margin-top: 14px;
    font-size: 16px;
    font-weight: 350;
    line-height: 28px;
    word-break: keep-all;
}
.area_suggest {
    position: relative;
    overflow: hidden;
    padding: 114px 0 135px;
    background-color: #182153;
}
.area_suggest .wrap_suggest {
    width: 1122px;
    padding: 55px 670px 147px 20px;
    margin: 0 auto;
    background: url(../img/body/bg_premium.png) 96% 70% no-repeat;
    background-size: 531px 361px;
    box-sizing: border-box;
}  
.area_suggest .suggest_tit {
    display: block;
    color: #fff;
    font-size: 38px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 58px;
}
.area_suggest .desc_suggest {
    margin-top: 29px;
    color: hsla(0,0%,100%,.7);
    font-size: 16px;
    font-weight: 350;
    line-height: 28px;
}
.area_suggest .wrap_btn {
    position: absolute;
    bottom: 162px;
    left: 50%;
    margin-left: -540px;
    font-size: 0;
}
.area_suggest .wrap_btn .btn_start {
    border: 0;
    color: #fff;
    background: #0082ff;
}
.area_suggest .wrap_btn .btn_start:hover {
    border: 1px solid #0072e5;
    background: #0072e5;
}
.area_suggest .wrap_btn button {
    width: 190px;
    height: 60px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
.area_suggest .wrap_btn .btn_ask {
    margin-left: 10px;
    border: 1px solid hsla(0,0%,100%,.3);
    background-color: #182153;
}
.area_suggest .wrap_btn .btn_ask:hover {
    border: 1px solid #0072e5;
    background: #0072e5;
}
.area_suggest .wrap_btn button {
    width: 190px;
    height: 60px;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}
.doc-footer {
    background: #f7f7f7;
}
.inner_footer {
    width: 1120px;
    margin: 0 auto;
    padding: 33px 22px 30px;
    box-sizing: border-box;
}
.area_enterprise::after {
    display: block;
    clear: both;
    content: "";
}
.area_enterprise .link_enterprise {
    float: left;
    width: 170px;
    height: 25px;
    font-size: 0;
    background: url(../img/body/logo_enterprise.png) 0 0 no-repeat;
    background-size: 170px 25px;
}
.area_enterprise .list_menu {
    float: right;
    font-size: 0;
}
.area_enterprise .list_menu li {
    display: inline-block;
}
.area_enterprise .link_menu {
    color: #515151;
    font-size: 15px;
    font-weight: 500;
}
.area_menu {
    position: relative;
    margin-top: 68px;
}
.area_menu .list_info {
    font-size: 0;
}
.area_menu .list_info li {
    display: inline-block;
}
.area_menu .list_info li+li {
    margin-left: 12px;
}
.area_enterprise .list_menu li+li {
    margin-left: 25px;
}
.area_menu .list_info .link_info {
    font-size: 13px;
    color: #666;
    font-weight: 500;
    line-height: 20px;
}
.area_menu .wrap_relation {
    position: absolute;
    bottom: 6px;
    right: 0;
}
.area_menu .wrap_relation .info_sns {
    float: left;
}
.area_menu .list_sns {
    margin-top: 2px;
}
.area_menu .list_sns li {
    float: left;
}
.area_menu .list_sns::after {
    display: block;
    clear: both;
    content: "";
}
.area_menu .list_sns li+li {
    margin-left: 30px;
}
.area_menu .list_sns .link_sns {
    display: inline-block;
    width: 24px;
    height: 24px;
}
.area_menu .list_sns .link_sns img {
    width: 100%;
}
.wrap_relation .bundle_site {
    position: relative;
    float: left;
    margin-left: 48px;
}
.bundle_site .btn_relation {
    width: 160px;
    text-align: left;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #515151;
    background-color: transparent;
    cursor: pointer;
    padding-left: 0;
}
.bundle_site .btn_relation strong {
    display: block;
    position: relative;
    height: 29px;
    padding-right: 20px;
    font-size: 11px;
    font-weight: 700;
    color: #515151;
    line-height: 32px;
}
.bundle_site .btn_relation .ico_plus {
    display: inline-block;
    background: url(../img/body/ico_kakaowork_20200925.png) 0 0 no-repeat;
    background-size: 520px 430px;
    position: absolute;
    top: 12px;
    right: 0;
    width: 10px;
    height: 7px;
    background-position-x: -20px;
}
.area_menu .wrap_address {
    margin-top: 9px;
}
.area_menu .list_address {
    margin-top: 5px;
    font-size: 0;
}
.area_menu .list_address dd, 
.area_menu .list_address dt {
    display: inline-block;
    color:#aeaeae;
    font-size: 12px;
}
.area_menu .list_address dd+dt:before {
    display: inline-block;
    width: 1px;
    height: 10px;
    margin: 0 6px;
    background: #aeaeae;
    content: "";
}
.area_menu .txt_copyright {
    display: block;
    margin-top: 2px;
    color: #aeaeae;
    font-size: 12px;
}
.bundle_site .list_relation {
    display: none;
    position: absolute;
    bottom: 34px;
    right: 0;
    width: 158px;
    padding: 10px 0;
    border: 1px solid #ddd;
    background: #fff;
}
.bundle_site .on {
    display: block;
}
.bundle_site .list_relation .link_relation {
    display: block;
    padding: 0 15px;
    color: #515151;
    font-size: 12px;
    line-height: 30px;
}
.ir_su {
     overflow: hidden; 
     position: absolute; 
     width: 0; 
     height: 0; 
     line-height: 0; 
     text-indent: -9999px;
}
